@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #483434;
  --primary-text-color: #fefefe;
  --primary-hover-color: #3c2b2b;
  --primary-shadow-color: #3c2b2b;

  --secondary-color: #678337;
  --secondary-text-color: #333;
}

@keyframes full-slide-from-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes full-slide-to-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);

  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 1px 4px 0 #00000055;
  z-index: 9999;

  view-transition-name: header;
}

.header-content {
  min-height: 1rem;
  padding-block: 0.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navigation-drawer {
  min-height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  transform: translateY(-100%);
  opacity: 0;
  transition:
    opacity 150ms,
    inset-block-start 0ms 150ms,
    transform 0ms 150ms;

  z-index: 9999;
}

.navigation-drawer.open {
  inset-block-start: 90px;
  transform: translateY(0);
  opacity: 1;

  transition: opacity 150ms;
}

.drawer-button {
  background-color: transparent;
  display: inline-block;
  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-size: 28px;
  color: #fefefe;

  cursor: pointer;
}

.navigation-drawer__navlist-main,
.navigation-drawer__navlist {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button,
.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  width: 100%;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
}

.navigation-drawer__navlist-main li a:hover {
  color: #09090b;
  text-shadow: 0 0 1px black;
}

.logout-button {
  background-color: transparent;
  border-radius: 4px;

  color: #ff0000 !important;
  font-weight: 600;
}

/* MAIN */
.main-content {
  display: flex;
  min-height: 70vh;
  height: 100%;
  flex-grow: 1;
}

.main-content > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 30px;
}

.main-content .section-title {
  text-align: center;
  font-size: 2.5rem;
  padding-block: 50px 40px;
}

/* !!NOTE: STYLE LAIN DISINI, FOOTER TERAKHIR */

/* LOGIN */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.login-card {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 32px 24px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.login-card h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 16px;
  position: relative;
}

.form-group i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 12px 10px 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-link {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.form-link a {
  text-decoration: none;
  color: #483434;
  font-weight: bold;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #483434;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.form-button:hover {
  background-color: #3c2b2b;
  opacity: 1;
}

/* REGISTER */
.register-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.register-card {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 32px 24px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.register-card h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.form-checkbox {
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-checkbox input[type='checkbox'] {
  margin: 0;
  transform: translateY(1px); 
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  accent-color: #483434;
}

/* OPTIONS */
.option-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 32px;
  overflow-y: auto;
  width: 100%;
  
}

.option-card {
  border: 2px solid #000;
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
}

.option-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.option-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.option-form label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.2s ease;
}

.option-form label:hover {
  border-color: #8a6f60;
  background-color: #f9f6f5;
}

.option-form input[type='checkbox'] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  accent-color: #483434;
}

.submit-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.submit-button {
  padding: 10px 24px;
  background-color: #483434;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #3c2b2b;
}

/* PROFILE */
.profile-page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  padding: 40px 72px;
  font-family: 'Inter', sans-serif;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  color: #483434;
  margin-bottom: 16px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-card,
.photo-card {
  border: 1px solid #483434;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  min-width: 400px;
  box-sizing: border-box;
}

.profile-card h3,
.photo-card h3 {
  font-size: 24px;
  color: #483434;
  margin-bottom: 16px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #BEA5A5;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #333;
  overflow: hidden;
}

#avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.profile-info .info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #000;
  margin: 12px 0;
}

.profile-info input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background: #483434;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 24px;
  cursor: pointer;
}

.photo-placeholder {
  width: 100%;
  max-width: 240px;
  height: 240px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.photo-placeholder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.upload-file {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #000;
  margin-bottom: 16px;
}

/* ALERT */
.alert {
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: opacity 0.3s ease;
}

.alert.success {
  background-color: #afca80;
  color: #678337;
  border: 1px solid #678337;
}

.alert.error {
  background-color: #f8d7da;
  color: #d00416;
  border: 1px solid #d00416;
}

.alert.hidden {
  display: none;
  opacity: 0;
}

.alert.show {
  display: block;
  opacity: 1;
}

/* FOOTER */
footer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.footer-content {
  padding-block: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright {
  text-align: center;
}
