* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-color: #483434;
  --primary-text-color: #fefefe;
  --primary-hover-color: #3c2b2b;
  --primary-shadow-color: #3c2b2b;

  --secondary-color: #678337;
  --secondary-text-color: #333;
}

@keyframes full-slide-from-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes full-slide-to-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);

  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 1px 4px 0 #00000055;
  z-index: 9999;

  view-transition-name: header;
}

.header-content {
  min-height: 1rem;
  padding-block: 0.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navigation-drawer {
  min-height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  transform: translateY(-100%);
  opacity: 0;
  transition:
    opacity 150ms,
    inset-block-start 0ms 150ms,
    transform 0ms 150ms;

  z-index: 9999;
}

.navigation-drawer.open {
  inset-block-start: 90px;
  transform: translateY(0);
  opacity: 1;

  transition: opacity 150ms;
}

.drawer-button {
  background-color: transparent;
  display: inline-block;
  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-size: 28px;
  color: #fefefe;

  cursor: pointer;
}

.navigation-drawer__navlist-main,
.navigation-drawer__navlist {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button,
.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  width: 100%;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
}

.navigation-drawer__navlist-main li a:hover {
  color: #09090b;
  text-shadow: 0 0 1px black;
}

.logout-button {
  background-color: transparent;
  border-radius: 4px;

  color: #ff0000 !important;
  font-weight: 600;
}

/* MAIN */
.main-content {
  display: flex;
  min-height: 70vh;
  height: 100%;
  flex-grow: 1;
}

.main-content > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 30px;
}

.main-content .section-title {
  text-align: center;
  font-size: 2.5rem;
  padding-block: 50px 40px;
}

/* !!NOTE: STYLE LAIN DISINI, FOOTER TERAKHIR */

/* FOOTER */
footer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.footer-content {
  padding-block: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright {
  text-align: center;
}

